/* General Styles */
body {
  scroll-behavior: smooth;
}

/* container */

.UI-CONTAINER {
  position: relative;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

/* NAV */

.UI_NAV {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.UI_NAV_LINKS {
  flex-basis: 35%;
}

.UI_NAV_ITEMS {
  display: flex;
  justify-content: space-evenly;
}

/* Header */

.UI_JUMBOTRON {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column wrap;
  padding: 5em 2em;
  margin: 0.5em 0;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  text-shadow: -1px 2px 5px black;
  box-shadow: 0 1px 6px rgb(0, 0, 0);
  text-align: center;
}

.UI_JUMBOTRON h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.JUMBO_SEARCH {
  width: 100%;
  align-self: stretch;
}

/* dispensarySearch */

.dispensarySearch {
  display: flex;
  flex-flow: column nowrap;
}

.dispensarySearch_left {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  box-shadow: 0 1px 5px rgb(138, 138, 138);
  color: white;
  border-radius: 5px;
}

.dispensarySearch_left p {
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}

.UI_ZIP_SEARCH {
  width: 100%;
}

.dispensarySearch_right {
  flex-basis: 25%;
  margin-left: 1em;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
}

.dispensarySearch_right > p {
  font-size: 1.5rem;
  margin: 0 10% 0 5%;
}

.dispensarySearch_right > p:nth-child(2) {
  font-style: italic;
  text-align: right;
  font-size: 1.25rem;
}

/* info section */

.infoItem {
  position: relative;
  padding: 1em;
  margin: 2em 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 0 10px rgb(138, 138, 138);
}

.infoItemText {
  order: 2;
}

.infoItemImg {
  order: 1;
  margin-bottom: 0.5em;
}

.infoItem img {
  width: 100%;
  box-shadow: 0 1px 5px rgb(138, 138, 138);
}

/* Bottom Sign Up Bar */

.signUp {
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
  margin: 2em 0 0;
}

@media only screen and (min-width: 768px) {
  /* dispensarySearch */

  .dispensarySearch {
    flex-flow: row nowrap;
  }

  .dispensarySearch_left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 0.5em 1.15em;
  }

  .dispensarySearch_right {
    flex-basis: 50%;
    margin-left: 1em;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
  }

  .dispensarySearch_right > p {
    font-size: 1.5rem;
    margin: 0 10% 0 5%;
  }

  .dispensarySearch_right > p:nth-child(2) {
    font-style: italic;
    text-align: right;
    font-size: 1.25rem;
  }

  /* Info Items */
  .infoItem {
    padding: 1em;
    margin: 2em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .infoItemText {
    order: unset;
    flex: 1;
  }

  .infoItemImg {
    order: unset;
    flex: 1;
    margin-bottom: unset;
  }

  .infoItem img {
    width: 100%;
    box-shadow: 0 1px 5px rgb(138, 138, 138);
  }
  .infoItem > :nth-child(2) {
    margin-left: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  /* container */

  .UI-CONTAINER {
    position: relative;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }

  /* NAV */

  .UI_NAV_LINKS {
    flex-basis: 20%;
  }

  /* Jumbotron */

  .UI_JUMBOTRON {
    padding: 7em 5em;
    margin: 1em 0;
  }

  .UI_JUMBOTRON h1 {
    font-size: 4.5rem;
    font-weight: 500;
  }

  /* dispensarySearch */

  .dispensarySearch {
    flex-flow: row nowrap;
  }

  .dispensarySearch_left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 1em 1.15em;
  }

  .dispensarySearch_right {
    flex-basis: 25%;
    margin-left: 1em;
    padding: 1em 1.15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dispensarySearch_right > p {
    margin: auto;
  }

  /* Info Items */
  .infoItem {
    padding: 1em;
    margin: 2em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .infoItemText {
    order: unset;
    flex: 1;
  }

  .infoItemImg {
    order: unset;
    flex: 1;
    margin-bottom: unset;
  }

  .infoItem img {
    width: 100%;
    box-shadow: 0 1px 5px rgb(138, 138, 138);
  }
  .infoItem > :nth-child(2) {
    margin-left: 3rem;
  }
}
